**/.DS_Store

results/
gitignoreresults/
.vscode/
build/
bkp/

*.egg-info

*__pycache__/
cache-*.arrow

*.csv
*.jsonl
*.pkl
*.ipynb
**/.DS_Store
examples/leetcode

*.env
examples/apps
examples/apps_bkp
examples/code_contests
examples/code_contests_bkp
